.middle__posts {
  width: 40%;
  /* background: var(--secondary); */
  height: 800px;
  /* min-height: 800px; */
  display: flex;
  flex-direction: column;
  gap:30px;

}


.all_posts{
    padding-bottom: 150px;
    overflow-y: scroll;

}
.all_posts::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    border-radius: 10px;
    background-color:var(--dark) !important;
  }
  
  .all_posts::-webkit-scrollbar {
    width: 4px;
    /* margin: 20px 0px; */
    /* background-color: transparent; */
    /* background-color: var(--dark); */

    /* background-color: #160d0d; */
  }
  
  .all_posts::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-clip: padding-box;

    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
    /* background-color: var(--grey); */
    /* background-color: transparent; */
    /* background-color: #fff !important; */

  }