.dashboard__profile {
  width: 100%;
  height: 450px;
  position: relative;
}
.profile__container {
  width: 60%;
  background-color: var(--background);
  border-radius: 20px;
  overflow: hidden;
}
.profile__cover__image > img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}
.profile__details {
  /* display: flex; */
  /* justify-content: space-around; */
  /* flex-direction: column; */
  /* background-color: var(--background); */
  width: 100%;
  /* height: 100%; */
  /* overflow: hidden; */
}
.profile__details__basic {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.profile__details__basic {
  border-top: 2px solid var(--background);
  position: relative;
  font-weight: bold;
}
.profile__details__basic > img {
  width: 80px;
  position: absolute;
  top: -20px;
  z-index: 988;
  height: 80px;

  border-radius: 10px;

  border: 4px solid var(--secondary);
  box-shadow: 0px 0px 8px 2px var(--dark);
  object-fit: contain;
}
.profile__details__basic > p {
  display: flex;
  margin: 0px 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile__details__basic > p > div:nth-child(2) {
  font-size: 14px !important;
  color: var(--grey);
  font-weight: 500 !important;
  /* color: red; */
}
.profile__explore {
  /* font-size: ; */
  padding-top: 8px;
  color: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}
.dashboard__profile > button {
  position: absolute;
  bottom: 30px;
  width: inherit;
  background-color: var(--foreground);
  box-shadow: 0px 0px 15px 4px var(--light--dark);
  outline: none;
  cursor: pointer;
  border: none;
  height: 40px;
  border-radius: 10px;
  color: white;
}
